---
interface Props {
  title: string;
  icon: string;
  links: { version: string; url: string }[];
  infoUrl: string;
  style?: string;
}

const { title, icon, links, infoUrl, style } = Astro.props;
---

<article
  class="card flex flex-col gap-30 w-180 max-w-180 min-w-180 flex-none"
  style={style}
>
  <div class="card-body flex flex-col gap-20 pl-25 relative">
    <h2 class="font-serif text-30 font-bold">{title}</h2>
    <ul
      class="flex flex-col gap-10 text-20 items-start pb-[4px]"
      aria-label="download mod by bta versions"
    >
      {
        links.map(({ version, url }) => (
          <li>
            <a
              class="flex gap-10 items-center animate-link-download outline-none"
              href={url}
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <svg
                class="flex-none size-20"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="#DA1E28"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.5 12.5v3.333a1.666 1.666 0 01-1.667 1.667H4.167A1.667 1.667 0 012.5 15.833V12.5m3.333-4.167L10 12.5m0 0l4.167-4.167M10 12.5v-10"
                />
              </svg>
              <span>{version}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="card-figure size-180 flex-none relative order-first">
    <img
      class="pointer-events-none"
      src={icon}
      alt=""
      width="180"
      height="180"
      loading="eager"
      decoding="sync"
      fetchpriority="high"
    />
    <a
      class="absolute bottom-0 right-0 flex items-center justify-center text-red size-30 bg-black/50 backdrop-blur-[1px] outline-none hover:bg-red/50 focus:bg-red/50 hover:text-black focus:text-black transition-colors"
      href={infoUrl}
      aria-label="more information"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <svg
        class="size-15"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 15 15"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.667"
          d="M7.5 10V7.5m0-2.5h.006m6.244 2.5a6.25 6.25 0 11-12.5 0 6.25 6.25 0 0112.5 0z"
        ></path>
      </svg>
    </a>
  </div>
</article>
