---
import "../styles/root.css";

const TITLE = "rootEnginear's BTA Mods";
const DESCRIPTION =
  "Discover rootEnginear's BTA Mods for Better than Adventure: Sort Chest, Leaves Always Falling, Craftable Chainmail Armor, Proximity Chat, and Bit by Bit food sharing. Enhance Minecraft Beta 1.7.3 with fresh gameplay, quality of life upgrades, and optimizations!";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{TITLE}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="icon" type="image/png" href="/bta-mods/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/bta-mods/favicon.svg" />
    <link rel="shortcut icon" href="/bta-mods/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/bta-mods/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="rootEnginear's BTA Mods" />
    <link rel="manifest" href="/bta-mods/site.webmanifest" />

    <meta name="description" content={DESCRIPTION} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rootenginear.github.io/bta-mods/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta
      property="og:image"
      content="https://rootenginear.github.io/bta-mods/social.jpg"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="rootenginear.github.io" />
    <meta property="twitter:url" content="https://rootenginear.github.io/bta-mods/" />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={DESCRIPTION} />
    <meta
      name="twitter:image"
      content="https://rootenginear.github.io/bta-mods/social.jpg"
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@500;700&family=Funnel+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </body>
</html>
